{% extends "base.html" %}

{% block content %}
<form class="login-form" method="post">
    {% csrf_token %}
    <div class="login-form-inputs">
        {% for field in form %}
            {{ field }}
            {% if field.errors %}
                <hr>
                <div class="error">
                    {% for error in field.errors %}
                        <p class="error"><em>{{ error }}</em></p>
                    {% endfor %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <button type="submit"><i class="fa-solid fa-user-plus"></i></button>
    <span class="error"><em>{{ form.non_field_errors }}</em></span>
</form>
{% endblock %}