* {
    color-scheme: dark;
    font-family: "Share Tech", sans-serif;
    --bg-color: #080521;
    --accent-green: #80FF72;
    --accent-blue: #7EE8FA;
    --alert-color: #f83454;
    --alert-color-hover: #921f32;
    --divider-color: #1d1b24;
    --button-color: #D0ADF0;
    --textbox-color: #212746;
    --button-hover-color: #977eaf;
    --bubble-radius: 12px;
}

/*                */
/*                */
/* GENERAL STYLES */
/*                */
/*                */

body {
    background-color: var(--bg-color);
    margin: 0px;
}

hr {
    width: 100%;
    border: 1px solid var(--divider-color);
    border-radius: 1px;
}

p, input, button, a, textarea, span, ul, li {
    font-size: 1.4rem;
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0px;
}

button {
    background-color: transparent;
    color: var(--button-color);
    box-sizing: border-box;
    border: 0px;
    border-radius: 10px;
}

button:hover {
    color: color-mix(in srgb, var(--button-color), black 40%);
    cursor:pointer;
}

.container {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 30px;
    min-width: 400px;
    max-width: 1000px;
}

.nav {
    display: flex;
    width: 100%;
    height: 40px;
    align-items: center;
    justify-content: space-between;
}

/*                */
/*                */
/* SPECIAL STYLES */
/*                */
/*                */

.title {
    display: inline;
    margin: 0px;
    padding: 2px 20px;
    box-sizing: border-box;
    font-size: 2rem;
}

#textable {
    border-radius: var(--bubble-radius);
    border-bottom-left-radius: 0px;
    background-color: var(--accent-green);
    color: black;
}

#textable::before {
    content: '';
    display: block;
    position: absolute;
    border-top: 10px solid transparent;
    border-right: 10px solid var(--accent-green);
    margin: 28px 0 0 -10px;
}

#todos {
    border-radius: var(--bubble-radius);
    border-top-right-radius: 0px;
    background-color: var(--accent-blue);
    color: black;
}

#todos::before {
    content: '';
    display: block;
    position: absolute;
    border-bottom: 10px solid transparent;
    border-left: 10px solid var(--accent-blue);
    margin: -38px 0 0 264px;
}

#register {
    display: flex;
    align-items: center;
    height: 40px;
    width: 40px;
    box-sizing: border-box;
    color: var(--button-color);
    text-decoration: none;
    font-weight: bold;
}

#register:hover {
    color: color-mix(in srgb, var(--button-color), black 40%);
}

#logout {
    width: 40px;
    height: 40px;
}

#delete {
    color: var(--alert-color);
}

#delete:hover {
    color: var(--alert-color-hover)
}

#warning {
    background-color: var(--accent-blue);
    color: black;
    font-weight: bold;
    padding: 8px 10px;
    border-radius: var(--bubble-radius);
    flex: 1;
}

.error {
    text-align: center;
    margin-bottom: 10px;
}

.complete {
    color: color-mix(in srgb, white, black 60%);
    text-decoration: line-through;
}

/*                  */
/*                  */
/* TASK LIST STYLES */
/*                  */
/*                  */

.task-list {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 10px;
}

.task {
    display: flex;
    width: 100%;
    height: 40px;
    align-items: center;
    gap: 20px;
}

.task-title {
    flex: 1;
}

.task-due-date {
    background-color: grey;
    padding: 5px 10px;
    border-radius: var(--bubble-radius);
}

.almost {
    background-color: color-mix(in srgb, yellow, white 60%);
    color: black;
}

.overdue {
    background-color: color-mix(in srgb, red, white 40%);
}

.task-button {
    color: var(--button-color);
    width: 40px;
    height: 25px;
    text-align: center;
}

.task-button:hover {
    color: color-mix(in srgb, var(--button-color), black 40%);
}

/*                     */
/*                     */
/* GENERAL FORM STYLES */
/*                     */
/*                     */

.task-form {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 10px;
}

.task-form-submit {
    height: 40px;
    width: 40px;
}

.task-form-title {
    height: 40px;
    flex: 1;
    background-color: var(--textbox-color);
    color: white;
    padding-left: 10px;
    box-sizing: border-box;
    border: 0px;
    border-radius: var(--bubble-radius);
}

.task-form-complete {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-right: 10px;
    accent-color: var(--button-color);
}

.task-form-due-date {
    height: 40px;
    background-color: grey;
    color: white;
    padding: 0px 10px;
    box-sizing: border-box;
    border: 0px;
    border-radius: var(--bubble-radius);
}

.task-form-description {
    resize: none;
    padding: 10px;
    box-sizing: border-box;
    border-radius: var(--bubble-radius);
    border: 0px;
    background-color: var(--textbox-color);
    color: white;
}

/*                           */
/*                           */
/* SPECIFIC TASK FORM STYLES */
/*                           */
/*                           */

.update-task-form-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 10px;
}

#update-task-row {
    gap: 10px;
}

.delete-task-form-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


/*                   */
/*                   */
/* LOGIN PAGE STYLES */
/*                   */
/*                   */

.login-form {
    display: flex;
    justify-content: center;
    gap: 20px;
    min-width: 400px;
    width: 100%;
}

.login-form-inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
}

#id_username, #id_password, #id_email, #id_password1, #id_password2 {
    box-sizing: border-box;
    border: 0px;
    border-radius: var(--bubble-radius);
    height: 40px;
    padding: 0px 10px;
    background-color: var(--textbox-color);
    color: white;
}