* {
    color-scheme: dark;
    font-family: "Share Tech", sans-serif;
    --main-accent-green: #80FF72;
    --main-accent-blue: #7EE8FA;
    --secondary-color: #7E7F83;
    --alert-color: #f83454;
    --main-bg-color: #140D4F;
    --main-button-color: #F1DEDE;
}

body {
    background-color: var(--main-bg-color);
    margin: 0px;
}

.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
    min-width: 400px;
}

.nav {
    width: 100%;
    max-width: 600px;
}

#title {
    margin: 0px;
    padding: 2px 20px;
    width: fit-content;
    box-sizing: border-box;
    font-size: 2rem;
    border-radius: 10px 10px 10px 0px;
    background-color: var(--main-accent-green);
    color: black;
}

#title::before {
    content: '';
    display: block;
    position: absolute;
    border-top: 10px solid transparent;
    border-right: 10px solid var(--main-accent-green);
    margin: 28px 0 0 -29px;
}

.create-task-form {
    display: flex;
    width: 100%;
    max-width: 600px;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.task-title-input {
    flex: 90;
    padding: 10px;
    background-color: var(--main-accent-blue);
    color: black;
    cursor: text;
    border: 0px;
    border-radius: 10px;
    font-size: 1rem;
}

.create-task-form button {
    height: 40px;
    width: 40px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 2px solid black;
    background-color: var(--main-button-color);
    color: #070707;
}

.create-task-form button:hover {
    background-color: #7c7171;
}

.task-list {
    display: flex;
    width: 100%;
    max-width: 600px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.task {
    width: 100%;
    min-width: 400px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.task-button {
    height: 40px;
    width: 40px;
    box-sizing: border-box;
    margin: 0px;
    padding: 10px;
    background-color: #F1DEDE;
    color: #070707;
    border: 2px solid #070707;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.task-button:hover {
    background-color: #7c7171;
}

.task-title {
    flex: 80;
    box-sizing: border-box;
    margin: 0px;
    padding: 10px;
    border-radius: 10px 10px 10px 0px;
    background-color: var(--main-accent-green);
    color: black;
}

.task-title::before {
    content: '';
    display: block;
    position: absolute;
    border-top: 10px solid transparent;
    border-right: 10px solid var(--main-accent-green);
    margin: 18px 0 0 -19px;
}

.complete {
    text-decoration:line-through;
    background-color: var(--secondary-color);
}

.task-title.complete::before {
    border-right: 10px solid var(--secondary-color);
}

.update-task-form {
    width: 100%;
    max-width: 600px;
}

.update-task-form .form-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-bottom: 20px;
}

.update-task-form button {
    height: 40px;
    box-sizing: border-box;
    padding: 10px;
    border: 2px solid #070707;
    font-size: 1rem;
}

.update-task-form button {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: #F1DEDE;
    color: #070707;
    cursor: pointer;
}

.update-task-form button:hover {
    background-color: #7c7171;
}

.update-task-form input[type="checkbox"] {
    display: flex;
    appearance: none;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border: 2px solid #070707;
    background-color: #F1DEDE;
    border-radius: 50%;
    cursor: pointer;
}
/* Thanks to https://stackblitz.com/edit/react-ts-ffdaqq?file=App.tsx for the clip path code*/
.update-task-form input[type="checkbox"]::before {
    content: "";
    width: 30px;
    height: 30px;
    clip-path: polygon(17% 54%, 28% 43%, 38% 54%, 70% 22%, 81% 33%, 38% 75%, 17% 54%);
    transform: scale(0);
    background-color: #070707;
}

.update-task-form input[type="checkbox"]:checked::before {
    transform: scale(1);
}

.update-task-form input[type="checkbox"]:checked ~ .task-title-input {
    text-decoration: line-through;
    background-color: var(--secondary-color);
}

.update-task-form input[type="checkbox"]:hover {
    background-color: #7c7171;
}

.task-description-input {
    resize: none;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: 0px;
    border-radius: 10px;
    font-size: 1rem;
    background-color: var(--main-accent-blue);
    color: white;
}

.task-description-input::before {
    content: '';
    display: block;
    position: absolute;
    border-top: 10px solid transparent;
    border-right: 10px solid var(--main-accent-green);
    margin: 18px 0 0 -19px;
}

.delete-task-form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 100%;
    max-width: 600px;
}

.warning {
    flex: 80;
    box-sizing: border-box;
    padding: 10px;
    background: #655356;
    border: 2px solid #070707;
    border-radius: 3px;
    font-size: 1rem;
    text-align: center;
}

.delete-task-form a {
    height: 40px;
    box-sizing: border-box;
    margin: 0px;
    padding: 10px;
    flex: 10;
    background-color: #F1DEDE;
    color: #070707;
    border: 2px solid #070707;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.delete-task-form a:hover {
    background-color: #7c7171;
}

.delete-task-form input[type="submit"] {
    flex: 10;
    height: 40px;
    box-sizing: border-box;
    padding: 10px;
    background-color: #f83454;
    color: white;
    border: 2px solid #070707;
    border-radius: 3px;
    font-size: 1rem;
    cursor: pointer;
}

.delete-task-form input[type="submit"]:hover {
    background-color: #6e1222;
}