{% extends "base.html" %}

{% block content %}

<form class="create-task-form" method="POST" action="{% url 'list' %}">
    {% csrf_token %}
    {{form.title}}
    <input type="submit" name="Create Task" value="Create">
</form>

{% for task in tasks %}
    <div class="task">
        <p>
            {% if task.complete == True %}
                <s>{{task}}</s>
            {% else %}
                {{task}}
            {% endif %}
        </p>
        <a href="{% url 'update_task' task.id%}">Update</a>
        <a href="{% url 'delete_task' task.id%}">Delete</a>
    </div>
{% endfor %}

<form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="next" value="{% url 'login' %}">
    <button type="submit">Logout</button>
</form>

{% endblock %}