{% extends "base.html" %}

{% block nav %}
<form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="next" value="{% url 'login' %}">
    <button id="logout" type="submit"><i class="fa-solid fa-right-from-bracket fa-lg"></i></button>
</form>
{% endblock %}

{% block content %}
<form class="delete-task-form-container" method="POST" action="">
    {% csrf_token %}
    <span><b>Confirm deletion of "{{task}}"?</b></span>
    <button id="delete" class="task-form-submit" type="submit" name="Confirm"><i class="fa-solid fa-trash fa-lg" aria-hidden="true"></i></button>
    <a class="task-button" href="{% url 'update_task' task.id%}"><i class="fa-solid fa-ban fa-lg"></i></a>
</form>
{% endblock %}