{% extends "base.html" %}
{% now "Y" as current_year %}

{% block nav %}
<a id="settings" href="{% url 'user_settings' %}">
    <i class="fa-solid fa-bars fa-lg"></i>
</a>
{% endblock %}

{% block content %}

<form class="task-form" method="POST" action="{% url 'list' %}">
    {% csrf_token %}
    <button class="task-form-submit" type="submit" name="Create Task"><i class="fa-solid fa-plus fa-xl"></i></button>
    {{form.title}}
    {{form.due_date}}
</form>

<div class="task-list">
{% for task in tasks %}
    {%if tasks|first != task %} <hr> {% endif %}
    <div class="task {% if task.complete == True %}complete{% endif %}">
        <a href="{% url 'update_task' task.id%}" class="task-button"><i class="fa-solid fa-pen fa-lg"></i></a>
        <p class="task-title">{{task}}</p>
        {% if task.due_date %}
            <p class="
                task-due-date
                {% if task.is_near_due %}almost{% endif %}
                {% if task.is_overdue %}overdue{% endif %}
            ">
                {% if task.due_date.year == current_year %}
                    {{ task.due_date|date:"M d Y" }}
                {% else %}
                    {{ task.due_date|date:"M d" }}
                {% endif %}
            </p>
            <p class="spacer"></p>
            
        {% endif %}
    </div>
{% endfor %}
</div>

{% endblock %}