{% extends "base.html" %}

{% block content %}

<form class="create-task-form" method="POST" action="{% url 'list' %}">
    {% csrf_token %}
    <button type="submit" name="Create Task"><i class="fa-solid fa-paper-plane"></i></button>
    {{form.title}}
</form>

<div class="task-list">
{% for task in tasks %}
    <div class="task">
        <p class="task-title {% if task.complete == True %} complete {% endif %}">
            {{task}}
        </p>
        <a href="{% url 'update_task' task.id%}" class="task-button"><i class="fa-solid fa-pen"></i></a>
        <a href="{% url 'delete_task' task.id%}" class="task-button"><i class="fa-solid fa-trash"></i></a>
    </div>
{% endfor %}
</div>

<form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="next" value="{% url 'login' %}">
    <button type="submit">Logout</button>
</form>

{% endblock %}