{% extends "base.html" %}
{% load static %}

{% block nav %}
<a id="nav-button" href="{% url 'user_settings' %}">
    <i class="fa-solid fa-gear fa-lg"></i>
</a>
{% endblock %}

{% block content %}

<form class="task-form" method="POST" action="{% url 'list' %}">
    {% csrf_token %}
    <button class="task-form-submit" type="submit" name="Create Task"><i class="fa-solid fa-plus fa-xl"></i></button>
    {{ form.due_date }}
    {{form.title}}
</form>

<div class="task-list">
{% for task in tasks %}
    <div class="
        task 
        {% if task.complete %}complete
        {% elif task.starred %}starred{% endif %}
    ">
        <a href="{% url 'update_task' task.id%}" class="task-button"><i class="fa-solid fa-ellipsis-vertical"></i></a>
        <p class="task-title">{{task}}</p>
        {% if task.due_date %}
            <p class="
                task-due-date
                {% if task.is_near_due %}almost{% endif %}
                {% if task.is_overdue %}overdue{% endif %}
            ">
                {% if task.due_date.year == current_year %}
                    {{ task.due_date|date:"M d" }}
                {% else %}
                    {{ task.due_date|date:"M d, Y" }}
                {% endif %}
            </p>
        {% endif %}
    </div>
{% endfor %}
</div>

<script src="{% static 'js/reload.js' %}"></script>

{% endblock %}